@media (max-width: 479px) {

    .header_contacts-mob {
        display: block;
    }
    .header_contacts {
        display: none;
    }
    .first_section-img {
        width: 110px;
        height: 163px;
    }
    .first_section-info ul li {
        line-height: 1.4;
    }
    .first_section-price {
        margin-bottom: 35px;
    }
    .form-data .line {
        flex-direction: column;
    }
    .form-data .line .field:last-child {
        margin-top: 20px;
    }
    .gallery_wrap {
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .gallery_wrap > * {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .gallery_item + .gallery_item {
        margin-top: 27px;
    }
    .development .form-data .line .field {
        width: 100%;
    }
    .construction_item {
        width: 100%;
    }
    .construction_item-title {
        margin-top: 15px;
    }
    .accessories_item:nth-child(1) .accessories_item-logo img {
        width: 102px;
        height: 30px;
    }
    .accessories_item:nth-child(2) .accessories_item-logo img {
        width: 66px;
        height: 30px;
    }
    .accessories_item:nth-child(3) .accessories_item-logo img {
        width: 177px;
        height: 30px;
    }
    .proposal .form-data .line .field {
        width: 100%;
    }
    .proposal .form-data .line .field:last-child {
        margin-top: 0px;
    }
    .director_photo img {
        width: 100%;
    }
    .modal_profil-img {
        width: 100%;
        height: auto;
    }
    .tabs {
        margin-bottom: 10px;
    }






}
