/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #ECEFF4;
    --scroll_width: 17px;
    --text_color: #363636;
    --font_size: 14px;
    --font_size_title: 28px;
    --font_family: 'Wix Madefor Display', sans-serif;
    --color1: #0042EC;
    --color2: #FF5430;
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: #fff;
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

header {
    padding: 15px 0;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;  
    color: inherit;  
}
.header_logo span {
    display: block;
    margin-left: 20px;
}
.header_mode {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 326px;
    display: inline-block;
}
.header_mode a {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-decoration-line: underline;
    display: inline-flex;
    align-items: center;
    transition: all .4s;
}
.header_mode a:hover {
    color: var(--color2);
}
.header_mode a .icon {
    display: block;
    margin-left: 5px;
    margin-top: 3px;
    width: 20px;
    height: 7px;
    stroke: var(--color1);     
}
.header_mode a:hover .icon {
    stroke: var(--color2);   
}
.header_contacts {
    text-align: end;
}
.header_contacts-phone {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 116%;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
}
.header_contacts-phone:hover {
    color: var(--color1);
}
.header_contacts-mob {
    display: none;
}
.header_contacts-text {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 153.846%;
}



.first_section {
    background: url(../images/first-section_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 0 230px;
    position: relative;
}
.first_section:before {
    position: absolute;
    content: "";
    background: url(../images/square.png);
    width: 249px;
    height: 249px;
    bottom: -130px;
    right: 20px;
}
.first_section-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first_section-info {
    max-width: 630px;
}
.first_section-title {
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: 108.696%;
    margin-bottom: 7px;
    max-width: 636px;
    margin-top: 38px;
}
.first_section-title span {
    font-weight: 400;
}
.first_section-price {
    display: flex;
    align-items: stretch;
    margin-bottom: 50px;
}
.first_section-price-left {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    padding: 20px 23px;
    color: #fff;
    background: var(--color1);
}
.first_section-price-left span {     
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;  
}
.first_section-price-right {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    padding: 20px 30px;
    background: #fff;
    position: relative;
}
.first_section-price-right:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #fff transparent transparent;   
    left: -10px;
    top: 50%;
    transform: translateY(-50%)
}
.first_section-price-right span {
    color: var(--color2);
}
.first_section-img {
    width: 418px;
    height: 618px; 
    margin-top: -240px;   
}
.first_section-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;    
}
.first_section-info ul {
    list-style: none;
}
.first_section-info ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    display: flex;
    align-items: flex-start;
}
.first_section-info ul li img {
    display: block;    
}
.first_section-info ul li + li {
    margin-top: 30px;
}
.first_section-icon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}





.calculation {
    background: var(--bg);
}
.calculation_wrap {
    margin-top: -165px;
    padding: 60px;
    background: #fff;
}
.calculation_title {
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.16;
    margin-bottom: 20px;
}
.calculation_title span {
    color: var(--color1);
}
.calculation_text {
    margin-bottom: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 650px;
}
.form-data {
    display: flex;
    justify-content: space-between;
}
.form-data .line {
    display: flex;
    width: calc(100% - 395px);
}
.form-data .line .field {
    width: 100%;
    margin-right: 20px;
}
.form-data .line .field:last-child {
    margin-right: 0;
}
.form-data .line .input {
    width: 100%;
    height: 60px;
    font-family: var(--font_family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    padding: 10px 20px;
    color: var(--text_color);
    border: none;    
    border: 2px solid #CFD1D8;
    background: #FFF;
}
.form-data .line .input::placeholder {
    color: #7D7F84;
}
.form-data .line .input:focus {
    border: 2px solid var(--color1);
}
.form-data .line .input.error {
    border: 2px solid #FF3A3A;
}
.form-data .submit_btn {
    width: 375px;
    height: 60px;
    background: var(--color1);
    font-family: var(--font_family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 171.429%;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: all .4s;
} 
.form-data .submit_btn:hover {
    background: var(--color2);
}
.form_politic {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 153%; 
    color: #7D7F84;
    margin-top: 20px;
}
.form_politic a {
    color: inherit;
    text-decoration-line: underline;
    transition: all .4s;
}
.form_politic a:hover {
    color: var(--color2);
}







.title {
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 115.789%;
    position: relative;
    padding-left: 36px;
    margin-bottom: 60px;
}
.title::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--color1);
}
.gallery {
    background: var(--bg);
}
.gallery_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}
.gallery_wrap > * {
    width: calc(100%/4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}
.gallery_item {
    position: relative;
    display: block;
    text-decoration: none;
    border: 6px solid transparent;
    transition: all .2s;
    cursor: pointer;
}
.gallery_item span {
    display: inline-block;
    padding: 6px 10px;
    background: #363636;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .2s;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
.gallery_img {
    position: relative;
    overflow: hidden;
    padding-bottom: 77.85%;
}
.gallery_item img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 6px solid transparent;
    outline-offset: -6px;
    transition: all .2s;
}
.gallery_item:hover span {
    background: var(--color1);
}
.gallery_item img:hover {
    outline: 6px solid var(--color1);
    outline-offset: -6px;
}
.gallery_item-view {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0042EC;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}
.gallery_item-view img {
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gallery_item:hover .gallery_item-view {
    opacity: 1;
}





.development {
    background: url(../images/development_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 97px 0 107px;
}
.development_wrap {
    display: flex;
    gap: 68px;
}
.development_title {
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 115.789%;
    margin-bottom: 30px;
    color: #ffffff;
}
.development_title span {
    color: var(--color2);
}
.development_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 60px;
}
.development .form-data {
    flex-wrap: wrap;
}
.development .line {
    width: 100%;
}
.development .line .input {
    border: none;
}
.development .submit_btn {
    width: 100%;
    margin-top: 20px;
}
.development .form_politic {
    color: #fff;
}
.development_img {
    width: 540px;
    height: 558px;
    flex-shrink: 0;
}
.development_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.block {
    padding: 120px 0;
}
.title-center {
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 115.789%;
    margin-bottom: 60px;
}
.equipment_items {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-bottom: -30px;
}
.equipment_items > * {
    width: calc(100%/6 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}
.equipment_item {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.444%;
}
.equipment_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 93.75%;
}
.equipment_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.equipment_item-text {
    margin-top: 5px;
}





.estimate .cont {
    max-width: 1440px;
}
.estimate_wrap {
    padding: 120px 145px;
    background: var(--bg);
}
.estimate_title span {
    color: var(--color1);
}
.estimate .line2 {
    margin-bottom: 30px;
}
.estimate .line {
    width: calc(100% - 370px);
}
.upload-file__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}
.upload-file__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 84px;
    border-radius: 9px;
    border: 2px dashed #CFD1D8;
    background: #F6F7FA;
    cursor: pointer;  
    padding: 0 30px;  
    transition: all .4s;
}
.upload-file__text {
    font-family: var(--font_family);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: var(--color2);
    text-align: center;
    display: block;
    margin-left: 6px;
    transition: all .4s;
}
.estimate .form-data .submit_btn {
    width: 350px;
}
.upload-file__label .icon {
    display: block;
    width: 23px;
    height: 24px;
    fill: var(--color2);
    transition: all .4s;
}
.upload-file__label:hover {
    border: 2px dashed var(--color1);
}
.upload-file__label:hover .upload-file__text {
    color: var(--color1);
}
.upload-file__label:hover .icon {
    fill: var(--color1);
}



.construction .cont {
    max-width: 960px;
}
.construction_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.construction_item {
    text-decoration: none;
    position: relative;
    width: calc(100%/2 - 15px);
}
.construction_item.hide {
    display: none;
}
.construction_item-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.44%; 
    margin-top: 20px;
    color: var(--text_color);
    transition: all .4s;
}
.construction_item:hover .construction_item-title {
    color: var(--color1);
}
.construction_item-text {
    color: #7D7F84;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.57; 
    transition: all .4s;
}
.construction_item:hover .construction_item-text {
    color: var(--color1);
}
.construction_item-link {
    color: var(--color1);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.57; 
}
.construction_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 76.63%;
}
.construction_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.link-more {
    display: inline-block;
    width: 400px;
    height: 60px;
    background: var(--color1);
    text-decoration: none;
    margin: 60px auto 0;
    transition: all .4s;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-align: center;
    transition: all .4s;
}
.link-more.active {
    display: none;
}
.link-more:hover {
    background: var(--color2);
}
.construction_item-view {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0042EC;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}
.construction_item-view img {
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.construction_item:hover .construction_item-view {
    opacity: 1;
}





.demonstration .cont {
    max-width: 1440px;
}
.demonstration_wrap {
    padding: 48px 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    background: var(--bg);
}
.demonstration_info {
    width: calc(100% - 474px);
}
.demonstration_title {
    margin-bottom: 30px;
}
.demonstration_text {
    padding-left: 36px;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21;
}
.demonstration_text span {
    color: var(--color1);
}
.demonstration_images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 374px;
}
.demonstration_img:nth-child(1) {
    width: 162px;
    height: 162px;
}
.demonstration_img:nth-child(2) {
    margin-right: auto;
    margin-top: auto;
    width: 131px;
    height: 131px;
}
.demonstration_img:nth-child(3) {
    margin-left: auto;
    width: 137px;
    height: 137px;
}
.demonstration_img:nth-child(4) {
    width: 202px;
    height: 202px;
}
.demonstration_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.production_wrap {
    display: flex;
    gap: 30px;
}
.production_text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}
.production_text p + p {
    margin-top: 20px;
}
.production .swiper {
    width: 540px;
}
.production_slider .swiper-button-next {
    right: -20px;
    transform: translateY(-50%);
}
.production_slider .swiper-button-prev {
    left: calc(100% - 560px);
    transform: translateY(-50%);
}
.production_slider .swiper-horizontal>.swiper-pagination-bullets, 
.production_slider .swiper-pagination-bullets.swiper-pagination-horizontal, 
.production_slider .swiper-pagination-custom, .swiper-pagination-fraction {
    left: calc(50% - 270px);
    bottom: -30px;
}
.production_slider .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.production ul {
    margin-top: 30px;
}
.production ul li {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
}
.production ul li + li {
    margin-top: 40px;
}
.production ul li img {
    display: block;
    margin-right: 20px;
}
.swiper {
    overflow: visible !important;
}
.swiper-slide.visible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.swiper-slide {
    position: relative;
    visibility: hidden;
    width: auto;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;
    opacity: 0;
}



.quality_wrap {
    padding: 120px 95px;
    border: 2px solid #CFD1D8;
}
.quality_box.pb120 {
    padding-bottom: 120px;
    position: relative;
}
.quality_box.pb120:before {
    position: absolute;
    content: "";
    width: calc(100% + 190px);
    height: 2px;
    background: #CFD1D8;
    left: -95px;
    bottom: 60px;
}
.quality_logo {
    margin-bottom: 40px;
}
.quality_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}
.quality_items > * {
    width: calc(100%/4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}
.quality_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}
.quality_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.quality_item-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #363636;
}
.quality_item-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.57; 
    color: var(--color1);
    display: flex;
    align-items: center; 
    transition: all .4s;   
}
.quality_item-link .icon {
    display: block;
    margin-left: 5px;
    stroke: var(--color1);
    width: 20px;
    height: 7px;
    transition: all .4s;
}
.quality_item:hover .quality_item-link {
    color: var(--color2);
}
.quality_item:hover .quality_item-link .icon {
    stroke: var(--color2);
}





.application {
    position: relative;
}
.application.block {
    padding-bottom: 0;
}
.application:before {
    position: absolute;
    content: "";
    background: url(../images/square2.svg);
    width: 249px;
    height: 249px;
    top: 120px;
    right: 20px;
}
.application_wrap {
    display: flex;
    justify-content: space-between;
    gap: 125px;
}
ul {
    list-style: none;
}
.application_left ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    display: flex;
    align-items: flex-start;
}
.application_left ul li + li {
    margin-top: 20px;
}
.application_left ul li img {
    display: block;
    margin-right: 20px;
    margin-top: 5px;
}
.application_right-box:nth-child(1) {
    padding-bottom: 40px;
    border-bottom: 2px solid #CFD1D8;
}
.application_right-box:nth-child(2) {
    padding-top: 40px;
}
.application_logo {
    margin-bottom: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
}
.application_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
}
.title_start {
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 115.789%; 
    margin-bottom: 30px;  
}






.accessories_wrap {
    padding: 120px 95px;
    border: 2px solid #CFD1D8;
}
.accessories_title {
    max-width: 736px;
}
.accessories_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}
.accessories_items > * {
    width: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}
.accessories_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 79.42%;
}
.accessories_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.accessories_item-logo {
    margin-top: 23px;
}
.accessories_item-text {
    margin-top: 23px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
}





.colers {
    background: url(../images/colers_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
    position: relative;
}
.colers_wrap {
    display: flex;
    gap: 73px;
}
.colers_title {
    color: #fff;
    max-width: 363px;
}
.colers_title span {
    color: var(--color2);
}
.colers_items {
    width: calc(100% - 430px);
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}
.colers_items > * {
    width: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 40px 30px;
    background: #fff;
}
.colers_item-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.44;
    margin-top: 15px;
    text-align: center;
}
.colers_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}
.colers_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.windows_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.windows_items > * {
    padding: 49px;
    width: calc(100%/4);
    text-align: center;
    border-right: 2px solid #CFD1D8;
}
.windows_item:last-child {
    border-right: none;
}
.windows_item-title {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.44;
    margin-top: 10px; 
}
.windows_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 60%;
}
.windows_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.proposal .cont {
    max-width: 1440px;
}
.proposal_wrap {
    padding: 120px 145px;
    background: var(--bg);
}
.proposal_box {
    display: flex;
    gap: 125px;
}
.proposal .form {
    width: 445px;
    flex-shrink: 0;
}
.proposal .form-data {
    flex-direction: column;
}
.proposal .line {
    flex-direction: column;
    width: 100%;
}
.proposal .line .field {
    width: 100%;
    margin-bottom: 20px;
}
.proposal ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    display: flex;
    align-items: flex-start;
}
.proposal ul li + li {
    margin-top: 20px;
}
.proposal ul li img {
    display: block;
    margin-right: 20px;
    margin-top: 5px;
}
.proposal .form-data .submit_btn {
    width: 100%;
}





.reviews_wrap {
    display: flex;
    gap: 31px;
    padding: 0 90px;
}
.reviews_top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.reviews_photo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    flex-shrink: 0;
}
.reviews_photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.reviews_name {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
}
.reviews_adress {
    color: #7D7F84;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%;
}
.reviews_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
}
.reviews_img {
    flex-shrink: 0;
}
.swiper-button-next, 
.swiper-button-prev {
    width: 60px;
    height: 60px;
    background: var(--color1);
    z-index: 1;
    transition: all .4s;
}
.swiper-button-next:hover, 
.swiper-button-prev:hover {
    background: var(--color2);
}
.swiper-button-prev {
    left: 20px;
}
.swiper-button-next {
    right: 20px;
}
.swiper-button-next:after, 
.swiper-button-prev:after {
    display: none;
}
.swiper-pagination-bullet {
    display: block;
    width: 6px;
    height: 6px;
    transition: .2s linear;
    pointer-events: auto;
    opacity: 1;
    border-radius: 50%;
    background: #CFD1D8;
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
    display: flex;
    justify-content: center;
    bottom: -50px;
}
.swiper-pagination-bullet-active {
    background: var(--color1);
}
.swiper-pagination-bullet:hover {
    box-shadow: none;
    background: var(--color2);
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 10px !important;
}




.certificate .cont {
    max-width: 1440px;
}
.certificate_wrap {
    padding: 54px 171px 54px 145px;
    border: 2px solid #CFD1D8;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 125px;
}
.certificate ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    display: flex;
    align-items: flex-start;
}
.certificate ul li + li {
    margin-top: 20px;
}
.certificate ul li img {
    display: block;
    margin-right: 20px;
    margin-top: 5px;
}
.certificate_item {
    box-shadow: 0px 20px 50px 0px rgba(38, 61, 114, 0.21);
}
.certificate_item {
    width: 324px;
    height: 459px;
    flex-shrink: 0;
}
.certificate_item img {
    width: 100%;
    height: 100%;
}



.contract .cont {
    max-width: 1440px;
}
.contract-wrap {
    padding: 54px 171px 54px 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 125px;
    background: var(--bg);
}
.contract_title {
    margin-bottom: 30px;
}
.contract_text {
    color: var(--color1);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.24; 
}
.contract_item {
    box-shadow: 0px 20px -1px 0px rgba(38, 61, 120, 0.21);
    width: 324px;
    height: 453px;
    flex-shrink: 0;
}
.contract_item img {
    width: 100%;
    height: 100%;
}




.director .cont {
    max-width: 1440px;
}
.director_box {
    display: flex;
    justify-content: space-between;
    gap: 95px;
    padding-bottom: 120px;
    border-bottom: 2px solid #CFD1D8;
}
.director_wrap {
    padding: 120px 145px;
    border: 2px solid var(--Line, #CFD1D8);
    border-top: none;
}
.director ul {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.director ul > * {
    width: calc(50% - 30px);
}
.director ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    display: flex;
    align-items: flex-start;
}
.director ul li span b {
    color: var(--color1);
}
.director ul li img {
    display: block;
    margin-right: 20px;
    margin-top: 5px;
}
.director_name {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4; 
    margin-top: 20px;
}
.director_post {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}
.director_bottom {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 110px;
}
.director_bottom_title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.director_bottom_text {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.333%;
    text-align: center;
}




.contacts {
    padding-top: 120px;
}
.contacts .cont {
    max-width: 1440px;
}
.contacts_box {
    position: relative;
}
.contacts_title {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.14; 
    margin-bottom: 20px;
}
.contacts_items {
    position: absolute;
    top: 60px;
    left: 145px;
    z-index: 1;
    width: 311px;
    background: #fff; 
    padding: 39px;
}
.contacts_item-info {
    margin-bottom: 20px;
}
.contacts_item-title {
    color: #7D7F84;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.57; 
}
.contacts_item-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}
.contacts_item-phone {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;  
    color: inherit; 
    display: block;
}
.contacts_item-email {
    color: var(--color1);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    text-decoration-line: underline;
}
.map_wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 616px;
    margin-left: auto;
    transform: translateZ(0);
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




footer {
    padding: 37px 0 43px;
}
footer .header_mode {
    margin-left: 160px;
    margin-right: auto;
}




.modal {
    display: none;
    max-width: 1110px;
    width: 100%;
    padding: 52px 65px 0px !important;
    flex-direction: column;
}
.modal_top {
    display: flex;
    gap: 90px;
}
.modal-icon .icon {
    width: 28px;
    height: 28px;
}
.modal_right {
   width: 50%; 
   margin-top: -60px;
}
.modal .swiper-slide {
    width: 480px;
    height: 480px;
}
.modal .swiper-slide img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}
.modal ul li {
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.modal ul li + li {
    margin-top: 24px;
}
.modal-icon {
    margin-right: 14px;
}
.modal .swiper-button-prev {
    left: -20px;
    transform: translateY(-50%);
}
.modal .swiper-button-next {
    right: -20px;
    transform: translateY(-50%);
}
.modal_right-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 20px;
}
.modal .swiper-horizontal>.swiper-pagination-bullets, 
.modal .swiper-pagination-bullets.swiper-pagination-horizontal, 
.modal .swiper-pagination-custom, 
.modal .swiper-pagination-fraction {
    bottom: -30px;
}
.example {
    padding: 30px;
    border: 2px solid #CFD1D8;
    margin-top: 30px;
}
.example_title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.33; 
    margin-bottom: 20px;
}
.example_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}
.example_items > * {
    width: calc(100%/3 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
}
.example_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}
.example_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.example_item-title {
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin-top: 6px;
}
.modal_description {
    padding: 20px;
    border: 2px solid #CFD1D8;
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}
.modal_description-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;   
}
.modal_description-text b {
    font-weight: 700;
}
.modal_bottom {
    padding: 60px;
    background: #ECEFF4;
    margin-top: 40px;
    margin-left: -60px;
    margin-right: -60px;
}
.modal_bottom-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.14; 
    margin-bottom: 20px;
}
.modal_bottom-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 650px;
}





.tabs_container {
    width: 100%;
    margin-top: 30px;
}
.tabs {
    display: flex;
    margin-bottom: 30px;
    border-bottom: 1px solid #CFD1D8;
    justify-content: flex-start;
    padding-bottom: 0;
}
.tabs button {
    color: #7D7F84;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5; 
    position: relative;
    display: block;
    padding: 0 10px 10px;
}
.tabs button:after {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    margin: auto;
    content: '';
    transition: width .2s linear;
    border-radius: 2px;
    background: var(--color1);
}
.tabs button + button {
    margin-left: 3px;
}
.tabs button.active:after {
    width: 100%;
}
.tab_content {
    position: relative;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    pointer-events: none;
    opacity: 0;
}
 .tab_content.active {
    visibility: visible;
    overflow: visible;
    height: auto;
    transition: opacity .5s linear;
    pointer-events: auto;
    opacity: 1;
}
.modal_profil-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.14;
    margin-bottom: 30px;
}
.modal_profil {
    display: none; 
    max-width: 682px;
    width: 100%;   
}
.modal_profil-wrap {
    padding: 50px 40px 40px;
}
.fancybox__content {
    padding: 0;
}
.characteristic_item-name {
    color: #7D7F84;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.57; 
    width: 180px;
    margin-right: 30px;
    flex-shrink: 0;
}
.characteristic_item-value {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.57; 
}
.characteristic_item {
    display: flex;
}
.characteristic_item + .characteristic_item {
    margin-top: 20px;
}
.features {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;    
}
.benefits ul li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
}
.benefits ul li img {
    display: block;
    margin-right: 20px;
    margin-top: 5px;
}
.benefits ul li + li {
    margin-top: 20px;
}
.materials_item {
    display: flex;
}
.materials_item + .materials_item {
    margin-top: 20px;
}
.materials_icon {
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
}
.materials_link {
    color: var(--color1);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5; 
    text-decoration-line: underline;  
}
.aterials_text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.57; 
}
.fancybox__content>.carousel__button.is-close {
    top: 13px;
    right: 13px;
}
.fancybox__content>.carousel__button.is-close:hover {
    opacity: .7;
}
.modal_profil-img {
    width: 400px;
    height: 400px;
}
.modal_profil-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.modal_example {
    display: none;
    max-width: 1110px;
    width: 100%;
    padding: 52px 216px 40px;
}
.modal_example .swiper {
    width: 100%;
}
.fancybox__slide {
    overflow-x: hidden;
}
.modal_example .characteristic {
    margin-top: 66px;
}
.modal_example-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.14; 
    margin-bottom: 10px;
}
.modal_example-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 20px;
}
.modal_example .swiper .swiper-button-prev {
    left: -20px;
}
.modal_example .swiper .swiper-button-next {
    right: -20px;
}
.modal_example .swiper-slide.visible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.modal_example  .swiper-slide {
    position: relative;
    visibility: hidden;
    width: auto;
    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;
    opacity: 0;
}



.modal_little {
    display: none;
    max-width: 400px;
    padding: 50px 40px 40px;
}
.modal_little-icon {
    margin: 0 auto 30px;
}
.modal_little-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.14; 
    margin-bottom: 10px; 
    text-align: center;
}
.modal_little-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}